* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #393f4d;
  grid-column: 1/3;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
}
.menu{
  align-self: center;
}
.menu ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}
.header li{
  margin-right: 3rem;
}
.sidebar {
  display: grid;
  grid-row: 2/4;
  background-color: #ff7755;
  gap: 50px;
}
.logo{
  justify-self: start;
}
.sidebar .photo {
  display: grid;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #ff7755;
}

.nav ul{
  display: grid;
  justify-content: space-around;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1/3;
  text-align: center;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
