body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}
.header,
.footer {
  display: flex;
  align-items: center;
}
.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  width: 20vw;
  flex-shrink: 0;
  padding: 16px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 16px;
}
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 250px;
  padding: 16px;
  margin: 16px;
}

.main-section {
  display: flex;
  flex: 1;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  padding: 32px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
/* Utility Classes */
.text-center {
  text-align: center;
}
